* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.bg {
    background: url("images/iii.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 20px;
}

/* LOGIN PAGE */
.center-box {
    margin-top: 35vh;
    text-align: center;
    backdrop-filter: blur(10px);
    padding: 25px;
}

.title {
    font-size: 26px;
    font-weight: bold;
    color: #ff2f7d;
}

.sub {
    margin-top: 8px;
    color: #444;
}

.btn {
    background: #ff2f7d;
    border: none;
    padding: 14px 35px;
    color: white;
    font-size: 18px;
    border-radius: 30px;
    margin-top: 18px;
    cursor: pointer;
}

/* Birthday Card */
.card {
    background: rgba(255,255,255,0.75);
    width: 95%;
    max-width: 420px;
    margin: auto;
    margin-top: 30px;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(255, 182, 193, 0.7);
    text-align: center;
    position: relative;
}

.corner-img {
    width: 75px;
    position: absolute;
    top: -25px;
}

.right { right: -10px; }
.left { left: -10px; }

.small-title {
    font-size: 16px;
    color: #555;
}

.main-title {
    margin-top: 8px;
    font-size: 28px;
    color: #ff2f7d;
}

.desc {
    margin-top: 15px;
    color: #333;
    line-height: 1.6;
}

.footer {
    margin-top: 25px;
    font-size: 14px;
    color: #666;
}

/* Loading Screen */
#loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loader-heart {
    font-size: 60px;
    animation: float 1s infinite alternate;
}

@keyframes float {
    from { transform: translateY(0); }
    to { transform: translateY(-15px); }
}

.loading-text {
    margin-top: 10px;
    color: #ff2f7d;
    font-size: 17px;
}
